<div id="footer">
  <div class="social-content">
    <ul class="social-menu wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-google"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-patreon"></i>
        </a>
      </li>
      <li class="social-list">
        <a href="" class="social-link">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <h6 class="copy-message">❤ © 2018 Handmade by me <span>with lots of love</span> ❤</h6>
  </div>
</div>
