<div id="about">
  <div class="story">
    <h3 class="animated shake">My Story...</h3>
    <p>Hi, My name is Shifat and I am a Full Stack Web Developer and Graphics Designer from Bangladesh with 2+ years of experience working in this field Professionally. I have experience working with each layer of development and highly motivated to continuously improve myself. Very organized and can help client make the right choice and formulate future proof strategy. Fast learning ability to work with any new platform and give quick solution to problem.</p>
    <a href="">Download Resume</a>
  </div>
  <div class="about-pic">
    <img src="/website/boy.svg" alt="about me">
  </div>
  <div class="story">
    <h3 class="animated shake">Personal Information...</h3>
    <ul class="info-menu">
      <li class="info-list">Name: Mehedi Hassan Shifat</li>
      <li class="info-list">Age: 18years</li>
      <li class="info-list">Email: mhgamingbd04@gmail.com</li>
      <li class="info-list">Address: Dhaka, Bangladesh</li>
    </ul>
  </div>
</div>
