<div id="ads">
  <div class="ads-overlay">
    <!-- Upper Ads -->
    <div class="upper-post-ads animated fadeInLeft">
      <form action="/upperAds" method="POST" class="ad-form">
        <div class="upper-title"><h4>Upper Post Ads</h4></div>
        <div class="upper-area">
          <textarea name="upperAds" placeholder="Enter Ads Script" class="upper-textarea"></textarea>
        </div>
        <div class="ads-btn-area">
          <button type="submit" class="ads-btn">Place Ads</button>
        </div>
      </form>
    </div>
    <!-- Lower Ads -->
    <div class="upper-post-ads animated fadeInDown">
      <form action="/lowerAds" method="POST" class="ad-form">
        <div class="upper-title"><h4>Lower Post Ads</h4></div>
        <div class="upper-area">
          <textarea name="lowerAds" placeholder="Enter Ads Script" class="upper-textarea"></textarea>
        </div>
        <div class="ads-btn-area">
          <button type="submit" class="ads-btn">Place Ads</button>
        </div>
      </form>
    </div>
    <!-- Sidebar Upper Ads -->
    <div class="upper-post-ads animated fadeInRight">
      <form action="/sideUpAds" method="POST" class="ad-form">
        <div class="upper-title"><h4>Sidebar Upper Ads</h4></div>
        <div class="upper-area">
          <textarea name="sidebarUpperAds" placeholder="Enter Ads Script" class="upper-textarea"></textarea>
        </div>
        <div class="ads-btn-area">
          <button type="submit" class="ads-btn">Place Ads</button>
        </div>
      </form>
    </div>
    <!-- Sidebar Lower Ads -->
    <div class="upper-post-ads animated fadeInUp">
      <form action="/sideLoAds" method="POST" class="ad-form">
        <div class="upper-title"><h4>Sidebar Lower Ads</h4></div>
        <div class="upper-area">
          <textarea name="lowerUpperAds" placeholder="Enter Ads Script" class="upper-textarea"></textarea>
        </div>
        <div class="ads-btn-area">
          <button type="submit" class="ads-btn">Place Ads</button>
        </div>
      </form>
    </div>
  </div>
</div>
