<div id="contact">
  <div class="contact-overlay">
    <div class="contact-inner">
      <h2 class="animated fadeInDown">Contact Me</h2>
      <span class="animated zoomIn"></span>
      <form class="contact-form" action="">
        <input type="text" name="name" class="contact-input" placeholder="Name">
        <input type="email" name="email" class="contact-input" placeholder="Email">
        <input type="text" name="subject" class="contact-input" placeholder="Subject">
        <div class="textarea">
          <textarea name="message" class="contact-textarea" placeholder="Message"></textarea>
          <div class="contact-btn">
            <button class="animated shake" type="submit"><i class="fas fa-paper-plane fa-3x"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
