<div id="coming-soon">
  <div class="inner-box">
    <div class="outer-box animated zoomIn">
      <h1>Coming Soon</h1>
      <hr>
      <div class="countdown">
        <div class="days">
          <h6>Days</h6>
          <h6 id="days"></h6>
        </div>
        <div class="days">
          <h6>Hours</h6>
          <h6 id="hours"></h6>
        </div>
        <div class="days">
          <h6>Minutes</h6>
          <h6 id="minutes"></h6>
        </div>
        <div class="days">
          <h6>Seconds</h6>
          <h6 id="seconds"></h6>
        </div>
      </div>
    </div>
  </div>
</div>
