<div id="gallery">
  <div class="gallery-box animated fadeInUp">
    <!-- Projects Card 1 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name" title=""></a>
    </div>
    <!-- Projects Card 2 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 3 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 4 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 5 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 6 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 7 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
    <!-- Projects Card 8 -->
    <div style="margin-right: 0" class="project-card">
      <a href="/website/home.jpg"><img src="/website/home.jpg" alt="projects name"></a>
    </div>
  </div>
</div>
