<div id="display">
  <div class="overlay">
    <div class="inner-content-box">
      <h2 class="animated fadeInDown">Register</h2>
      <span class="animated zoomIn"></span>
      <form action="/register" method="POST" class="dis-form">
        <input type="text" name="username" class="dis-input" placeholder="Username">
        <input type="email" name="email" class="dis-input" placeholder="Email">
        <div class="inner-input-box">
          <input type="password" name="password" class="dis-input-inner" placeholder="Password">
          <div class="dis-btn">
            <button type="submit" class="animated shake"><i class="fas fa-paper-plane fa-2x"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
